@import '../core/mixins';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: map-get($spacers, 4);
  &__link,
  &__made {
    font-family: 'Gochi Hand', cursive;
  }
  p {
    margin-bottom: 0;
  }
}