.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: map-get($spacers, 4);
  color: initial;
  &__link {
    color: initial;
    text-decoration-line: none;
  }
  &__image {
    border-radius: 50%;
    height: 2rem;
  }
  p {
    margin-bottom: 0;
  }
}