@import '../core/variables';

.header {
  margin-bottom: map-get($spacers, 4);
  &__branding {
    align-items: center;
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: 'Gochi Hand', cursive;
      margin-bottom: 0;
    }
  }
}
