@import '../core/variables';
@import '../core/mixins';

.header {
  margin-bottom: map-get($spacers, 4);
  &__branding {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
