@import '../core/variables';

body {
	margin: 0;
	background: $color-grey;
	padding: map-get($spacers, 5);
	min-height: 100vh;
}

.layout {
  max-width: 1024px;
  margin: 2rem auto;
}

.layout_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.layout_header h1 {
  margin: 0;
}

.layout_opts {
  display: flex;
}

.layout_nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: .5rem 0 0;
  padding: 0; 
}

.layout_nav ul li {
  padding: 0 1rem;
}

.layout_nav ul li a {
  display: block;
}