@import '../core/variables';

.form {
  max-width: 320px;
  width: 100%;
  button {
    border: 2px solid $bg-dark-mode;
    margin-bottom: 2rem;
  }
}

.form label {
  display: block;
  font-size: $font-size-md;
}

.form-error, .form small {
  color: $color-red-error;
  font-size: 12px;
  margin-top: -12px;
  display: block;
}

.form input {
  background: transparent;
  border: 2px solid $color-grey;
  border-radius: map-get($spacers, 1);
  display: block;
  line-height: 2;
  font-size: $font-size-base;
  width: 100%;
  padding: 0 map-get($spacers, 2);
  margin-bottom: map-get($spacers, 3);
  z-index: 999;
  pointer-events: none;
}

.form input.error {
  border: 1px solid $color-red-error;
}

.form .btn {
  width: 100%;
}

