@import '../core/variables';

.modal-path {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.modal {
  background-color: $color-white;
  border-radius: 10px;
  border: 2px solid $color-primary;
  box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  text-align: center;
  padding: 2rem;
  width: 100%;
  will-change: transform;
  z-index: 10;
}

.modal.modal-dialog {
  pointer-events: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  min-height: unset;
  height: 250px;
}

.modal-background {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.modal-close {
  border: 0;
  font-size: 1em;
  position: absolute;
  right: map-get($spacers, 3);
  top: map-get($spacers, 3);
}

.modal-close:active {
  top: map-get($spacers, 3);
}

.modal-hidden {
  display: none;
}