form .form-addtodo {
  .form-control {
    margin-right: 20px;
  }
}

.list-group-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
}

.complete {
  text-decoration: line-through;
}
